todo.txt
scripts/data_fetch.py
.env
ui.spec
SteamLike.spec
app/components/__pycache__/card.cpython-313.pyc
app/components/__pycache__/imageLoad.cpython-313.pyc
app/components/__pycache__/Navbar.cpython-313.pyc
app/Itypes/__pycache__/IGame.cpython-313.pyc
app/scripts/__pycache__/__init__.cpython-313.pyc
app/scripts/__pycache__/data_fetch.cpython-313.pyc
app/scripts/__pycache__/pop100.cpython-313.pyc
build/SteamLike/localpycs/pyimod04_pywin32.pyc
app/scripts/__pycache__/wishlist.cpython-313.pyc
app/scripts/__pycache__/specials.cpython-313.pyc
app/scripts/__pycache__/utilpath.cpython-313.pyc
app/scripts/__pycache__/run.cpython-313.pyc
app/scripts/__pycache__/similarity.cpython-313.pyc
build/SteamLike/Analysis-00.toc
build/SteamLike/PKG-00.toc
build/SteamLike/PYZ-00.pyz
build/SteamLike/SteamLike.pkg
build/SteamLike/EXE-00.toc
build/SteamLike/base_library.zip
build/SteamLike/localpycs/pyimod03_ctypes.pyc
build/SteamLike/localpycs/pyimod01_archive.pyc
build/SteamLike/warn-SteamLike.txt
build/SteamLike/PYZ-00.toc
build/SteamLike/localpycs/pyimod02_importers.pyc
build/SteamLike/localpycs/struct.pyc
build/ui/Analysis-00.toc
build/ui/PYZ-00.pyz
build/ui/EXE-00.toc
build/ui/localpycs/pyimod01_archive.pyc
build/ui/localpycs/pyimod03_ctypes.pyc
build/ui/localpycs/pyimod04_pywin32.pyc
build/ui/warn-ui.txt
build/ui/ui.pkg
build/ui/PYZ-00.toc
build/ui/PKG-00.toc
build/ui/base_library.zip
build/SteamLike/xref-SteamLike.html
build/ui/xref-ui.html
build/ui/localpycs/struct.pyc
build/ui/localpycs/pyimod02_importers.pyc
